CONFIG proxy.config.admin.user_id STRING nobody
CONFIG proxy.config.http.server_ports STRING 6200
CONFIG proxy.config.reverse_proxy.enabled INT 1
CONFIG proxy.config.url_remap.remap_required INT 1
CONFIG proxy.config.http.insert_request_via_str INT 0
CONFIG proxy.config.http.insert_response_via_str INT 0
CONFIG proxy.config.http2.enabled INT 1
CONFIG proxy.config.ssl.client.verify.server.policy STRING DISABLED
