# docker/haproxy-1.8/haproxy.cfg
global
    log stdout format raw local0 info
    maxconn 1024

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option  http-server-close

frontend http-in
    bind *:6000
    http-request capture req.hdr(content-length) len 20
    http-request capture req.hdr(transfer-encoding) len 30
    log-format "=== HAPROXY-1.9 === src=%ci:%cp method=%HM path=%HP version=%HV | CL=%{+Q}[capture.req.hdr(0)] TE=%{+Q}[capture.req.hdr(1)] | status=%ST bytes=%B"
    default_backend nginx_origin

backend nginx_origin
    option  http-server-close
    timeout connect 5s
    timeout server  30s
    server  nginx nginx:8000
